In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [51]:
df = pd.read_csv("NY_airbnb.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

# EDA

In [52]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [53]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

# Preparacion

In [54]:
df.drop(["id", "host_name", "name", "minimum_nights", "number_of_reviews", "last_review", "reviews_per_month", "calculated_host_listings_count","latitude", "longitude", "host_id"], axis=1, inplace=True)

In [55]:
df.head()

  neighbourhood_group neighbourhood        room_type  price  availability_365
0            Brooklyn    Kensington     Private room    149               365
1           Manhattan       Midtown  Entire home/apt    225               355
2           Manhattan        Harlem     Private room    150               365
3            Brooklyn  Clinton Hill  Entire home/apt     89               194
4           Manhattan   East Harlem  Entire home/apt     80                 0

In [56]:
X = df.drop("price", axis=1)
y = df["price"]

In [57]:
X.head()

  neighbourhood_group neighbourhood        room_type  availability_365
0            Brooklyn    Kensington     Private room               365
1           Manhattan       Midtown  Entire home/apt               355
2           Manhattan        Harlem     Private room               365
3            Brooklyn  Clinton Hill  Entire home/apt               194
4           Manhattan   East Harlem  Entire home/apt                 0

In [58]:
y.head()

0    149
1    225
2    150
3     89
4     80
Name: price, dtype: int64

In [59]:
categoricas = ["neighbourhood_group", "neighbourhood","room_type"]
numericas = ["availability_365"]

In [60]:
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

transformer_numerico = ("transformer_numerico", MinMaxScaler(), numericas)
transformer_categorico = ("transformer_categorico", OneHotEncoder(), categoricas)

transformer = ColumnTransformer([transformer_numerico, transformer_categorico], remainder="passthrough")

In [61]:
X = transformer.fit_transform(X).toarray()

In [62]:
X

array([[1.        , 0.        , 1.        , ..., 0.        , 1.        ,
        0.        ],
       [0.97260274, 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [1.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       ...,
       [0.0739726 , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.00547945, 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ],
       [0.0630137 , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ]])