In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("NY_airbnb.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

# EDA

In [3]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [4]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

# Preparacion

In [5]:
df.drop(["id", "host_name", "name", "number_of_reviews", "last_review", "reviews_per_month", "calculated_host_listings_count", "host_id"], axis=1, inplace=True)

In [6]:
df.head()

,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,availability_365
0,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,365
1,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,355
2,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,365
3,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,194
4,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,0

In [8]:
s2=df[df.price < 300]

In [9]:
X = s2.drop("price", axis=1)
y = s2["price"]

In [10]:
X.head()

,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,availability_365
0,Brooklyn,Kensington,40.64749,-73.97237,Private room,1,365
1,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,1,355
2,Manhattan,Harlem,40.80902,-73.94190,Private room,3,365
3,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,1,194
4,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,10,0

In [11]:
y.head()

0    149
1    225
2    150
3     89
4     80
Name: price, dtype: int64

In [12]:
categoricas = ["neighbourhood_group", "neighbourhood","room_type"]
numericas = ["availability_365", "latitude", "longitude", "minimum_nights"]

In [13]:
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

transformer_numerico = ("transformer_numerico", MinMaxScaler(), numericas)
transformer_categorico = ("transformer_categorico", OneHotEncoder(), categoricas)

transformer = ColumnTransformer([transformer_numerico, transformer_categorico], remainder="passthrough")

In [14]:
X = transformer.fit_transform(X).toarray()

In [15]:
X

array([[1.        , 0.35739347, 0.51192067, ..., 0.        , 1.        ,
        0.        ],
       [0.97260274, 0.61419895, 0.49046911, ..., 1.        , 0.        ,
        0.        ],
       [1.        , 0.74825175, 0.56925653, ..., 0.        , 1.        ,
        0.        ],
       ...,
       [0.0739726 , 0.76211678, 0.55651732, ..., 1.        , 0.        ,
        0.        ],
       [0.00547945, 0.62361168, 0.4766385 , ..., 0.        , 0.        ,
        1.        ],
       [0.0630137 , 0.63941249, 0.48000677, ..., 0.        , 1.        ,
        0.        ]])

In [16]:
pd.DataFrame(X, columns = transformer.get_feature_names_out())

,transformer_numerico__availability_365,transformer_numerico__latitude,transformer_numerico__longitude,transformer_numerico__minimum_nights,transformer_categorico__neighbourhood_group_Bronx,transformer_categorico__neighbourhood_group_Brooklyn,transformer_categorico__neighbourhood_group_Manhattan,transformer_categorico__neighbourhood_group_Queens,transformer_categorico__neighbourhood_group_Staten Island,transformer_categorico__neighbourhood_Allerton,...,transformer_categorico__neighbourhood_Williamsbridge,transformer_categorico__neighbourhood_Williamsburg,transformer_categorico__neighbourhood_Willowbrook,transformer_categorico__neighbourhood_Windsor Terrace,transformer_categorico__neighbourhood_Woodhaven,transformer_categorico__neighbourhood_Woodlawn,transformer_categorico__neighbourhood_Woodside,transformer_categorico__room_type_Entire home/apt,transformer_categorico__room_type_Private room,transformer_categorico__room_type_Shared room
0,1.000000,0.357393,0.511921,0.000000,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.972603,0.614199,0.490469,0.000000,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1.000000,0.748252,0.569257,0.001601,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.531507,0.448496,0.535649,0.000000,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.000000,0.722820,0.565324,0.007206,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44972,0.024658,0.432502,0.554109,0.000801,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
44973,0.098630,0.488906,0.585684,0.002402,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
44974,0.073973,0.762117,0.556517,0.007206,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
44975,0.005479,0.623612,0.476639,0.000000,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
44976,0.063014,0.639412,0.480007,0.004804,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [17]:
transformer.output_indices_

{'transformer_numerico': slice(0, 4, None),
 'transformer_categorico': slice(4, 231, None),
 'remainder': slice(0, 0, None)}

# Entrenamos

In [28]:
from sklearn.model_selection import train_test_split 

X_train, X_test, y_train, y_test = train_test_split(X,y,train_size=0.7) #aca le asigne que % quiero para entrenamiento

In [30]:
#aca me muestra la cantidad de datos a usar en training y test

X_train.shape,X_test.shape,y_train.shape,y_test.shape

((31483, 231), (13494, 231), (31483,), (13494,))

In [19]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [20]:
def train_evaluate(nombre_modelo, modelo):
    mod = modelo()
    mod.fit(X_train, y_train)
    
    y_predict = mod.predict(X_test)
    
    mae = mean_absolute_error(y_test, y_predict)
    mse = mean_squared_error(y_test, y_predict)
    rmse = mean_squared_error(y_test, y_predict, squared=False)
    r2 = r2_score(y_test,y_predict)
    
    y_pred_train =mod.predict(X_train) # modelo para quitar el overfitting
    mae_train = mean_absolute_error(y_train,y_pred_train)
    mse_train = mean_squared_error(y_train,y_pred_train)
    rmse_train = mean_squared_error(y_train,y_pred_train)
    r2_train = r2_score(y_train,y_pred_train)
    
    print(nombre_modelo)
    print()
    print(f"MAE: {mae}")
    print(f"MSE: {mse}")
    print(f"RMSE: {rmse}")
    print(f"R2: {r2}")
    print()
    
    print()
    print(f"mae_train: {mae_train}")
    print(f"mse_train: {mse_train}")
    print(f"RMSE: {rmse_train}")
    print(f"R2: {r2_train}")
    print()

In [21]:
train_evaluate("LinearRegression", LinearRegression)

LinearRegression

MAE: 234876384.94506863
MSE: 3.101759015992578e+20
RMSE: 17611811422.998425
R2: -7.792242831794398e+16


mae_train: 31.53284425304607
mse_train: 1809.388186408746
RMSE: 1809.388186408746
R2: 0.5455055518257129

In [22]:
train_evaluate("SVR", SVR)

SVR

MAE: 31.492258016257555
MSE: 1935.9283594800677
RMSE: 43.99918589565116
R2: 0.5136558383727725


mae_train: 30.98860179493714
mse_train: 1910.8804376271937
RMSE: 1910.8804376271937
R2: 0.5200120369138862

In [23]:
train_evaluate("Decission Tree", DecisionTreeRegressor)

Decission Tree

MAE: 41.3600711427301
MSE: 3356.1104490884836
RMSE: 57.93194670549647
R2: 0.15687751837641173


mae_train: 0.0
mse_train: 0.0
RMSE: 0.0
R2: 1.0

In [24]:
train_evaluate("RandomForestRegressor", RandomForestRegressor)

RandomForestRegressor

MAE: 31.099076033792795
MSE: 1827.0089080569144
RMSE: 42.7435247500357
R2: 0.5410185964148716


mae_train: 11.338783054666193
mse_train: 248.72479047491998
RMSE: 248.72479047491998
R2: 0.9375236130956882

In [25]:
train_evaluate("neighbors", KNeighborsRegressor)

neighbors

MAE: 33.379421965317924
MSE: 2077.316908848377
RMSE: 45.57759217914409
R2: 0.4781361895337586


mae_train: 26.707108976639393
mse_train: 1327.6571433653503
RMSE: 1327.6571433653503
R2: 0.6665100362260392