In [1]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
import numpy as np

In [2]:
df = pd.read_csv("NY_airbnb - NY_airbnb.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,74860,"Sunlit and Cozy Williamsburg/Greenpoint, Brooklyn",394752,Allison,Brooklyn,Greenpoint,40.72488,-73.95018,Private room,55,2,1,2011-03-28,0.01,1,0
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,40039,Luxurious Condo in DUBMO with View,171851,Henry,Brooklyn,DUMBO,40.70207,-73.98571,Private room,250,3,14,2011-04-25,0.13,1,189
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [3]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [4]:
df.drop(["id","name" , "host_id", "host_name", "number_of_reviews", "last_review", "reviews_per_month", "calculated_host_listings_count"], axis=1, inplace=True)

In [5]:
s2=df[df.price < 300]

In [6]:
X = s2.drop("price", axis=1)
y = s2["price"]

In [7]:
X.head()

,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,availability_365
0,Brooklyn,Greenpoint,40.72488,-73.95018,Private room,2,0
1,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,1,355
2,Manhattan,Harlem,40.80902,-73.94190,Private room,3,365
3,Brooklyn,DUMBO,40.70207,-73.98571,Private room,3,189
4,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,10,0

In [8]:
y.head()

0     55
1    225
2    150
3    250
4     80
Name: price, dtype: int64

In [9]:
categoricas = ["neighbourhood_group", "neighbourhood","room_type"] 
numericas = ["availability_365", "latitude", "longitude", "minimum_nights"]

In [10]:
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

transformer_numerico = ("transformer_numerico", MinMaxScaler(), numericas)
transformer_categorico = ("transformer_categorico", OneHotEncoder(), categoricas)

transformer = ColumnTransformer([transformer_numerico, transformer_categorico], remainder="passthrough")

In [11]:
X = transformer.fit_transform(X).toarray()

In [12]:
X

array([[0.        , 0.54465604, 0.55367593, ..., 0.        , 1.        ,
        0.        ],
       [0.97260274, 0.61419895, 0.49046911, ..., 1.        , 0.        ,
        0.        ],
       [1.        , 0.74825175, 0.56925653, ..., 0.        , 1.        ,
        0.        ],
       ...,
       [0.01917808, 0.45442447, 0.54074855, ..., 0.        , 1.        ,
        0.        ],
       [0.06027397, 0.51341738, 0.55503077, ..., 1.        , 0.        ,
        0.        ],
       [0.06027397, 0.52626612, 0.56541783, ..., 1.        , 0.        ,
        0.        ]])

In [13]:
pd.DataFrame(X, columns = transformer.get_feature_names_out())

,transformer_numerico__availability_365,transformer_numerico__latitude,transformer_numerico__longitude,transformer_numerico__minimum_nights,transformer_categorico__neighbourhood_group_Bronx,transformer_categorico__neighbourhood_group_Brooklyn,transformer_categorico__neighbourhood_group_Manhattan,transformer_categorico__neighbourhood_group_Queens,transformer_categorico__neighbourhood_group_Staten Island,transformer_categorico__neighbourhood_Allerton,...,transformer_categorico__neighbourhood_Williamsbridge,transformer_categorico__neighbourhood_Williamsburg,transformer_categorico__neighbourhood_Willowbrook,transformer_categorico__neighbourhood_Windsor Terrace,transformer_categorico__neighbourhood_Woodhaven,transformer_categorico__neighbourhood_Woodlawn,transformer_categorico__neighbourhood_Woodside,transformer_categorico__room_type_Entire home/apt,transformer_categorico__room_type_Private room,transformer_categorico__room_type_Shared room
0,0.000000,0.544656,0.553676,0.000801,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.972603,0.614199,0.490469,0.000000,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1.000000,0.748252,0.569257,0.001601,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.517808,0.489462,0.486819,0.001601,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.000000,0.722820,0.565324,0.007206,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44972,0.046575,0.458611,0.622246,0.000000,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
44973,0.093151,0.599560,0.495343,0.000000,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
44974,0.019178,0.454424,0.540749,0.002402,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
44975,0.060274,0.513417,0.555031,0.002402,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
44976,0.060274,0.526266,0.565418,0.015212,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [14]:
transformer.output_indices_

{'transformer_numerico': slice(0, 4, None),
 'transformer_categorico': slice(4, 231, None),
 'remainder': slice(0, 0, None)}

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y)

In [16]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor 

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [17]:
def train_evaluate(nombre_modelo, modelo):
    mod = modelo()
    mod.fit(X_train, y_train)
    
    y_predict = mod.predict(X_test)
    
    mae = mean_absolute_error(y_test, y_predict)
    mse = mean_squared_error(y_test, y_predict)
    rmse = mean_squared_error(y_test, y_predict, squared=False)
    r2 = r2_score(y_test,y_predict)
    
    y_pred_train =mod.predict(X_train)
    mae_train = mean_absolute_error(y_train,y_pred_train)
    mse_train = mean_squared_error(y_train,y_pred_train)
    rmse_train = mean_squared_error(y_train,y_pred_train)
    r2_train = r2_score(y_train,y_pred_train)
    
    print(nombre_modelo)
    print()
    print(f"MAE: {mae}")
    print(f"MSE: {mse}")
    print(f"RMSE: {rmse}")
    print(f"R2: {r2}")
    print()
    
    print(nombre_modelo)
    print()
    print(f"MAE: {mae_train}")
    print(f"MSE: {mse_train}")
    print(f"RMSE: {rmse_train}")
    print(f"R2: {r2_train}")
    print()

In [18]:
train_evaluate("LinearRegression", LinearRegression)

LinearRegression

MAE: 16312265.253639117
MSE: 1.4960851471129224e+18
RMSE: 1223145595.2227938
R2: -377650349027983.3

LinearRegression

MAE: 31.568052729974504
MSE: 1810.6385882167392
RMSE: 1810.6385882167392
R2: 0.5459153143679798

In [19]:
train_evaluate("SVM", SVR)

SVM

MAE: 31.39420968187038
MSE: 1939.6930976871427
RMSE: 44.041947024253396
R2: 0.5103716009999053

SVM

MAE: 30.996452135059236
MSE: 1908.5005949116771
RMSE: 1908.5005949116771
R2: 0.5213727917273046

In [20]:
train_evaluate("Decission Tree", DecisionTreeRegressor)

Decission Tree

MAE: 41.1833703868386
MSE: 3334.658514895509
RMSE: 57.74650218753954
R2: 0.15824647115196844

Decission Tree

MAE: 0.0
MSE: 0.0
RMSE: 0.0
R2: 1.0

In [21]:
train_evaluate("neighbors", KNeighborsRegressor)

neighbors

MAE: 33.35354379724322
MSE: 2074.976138728324
RMSE: 45.55190598348574
R2: 0.4762226838975867

neighbors

MAE: 26.678121664887936
MSE: 1329.7116518439464
RMSE: 1329.7116518439464
R2: 0.6665255554928471

In [22]:
train_evaluate("RandomForestRegressor", RandomForestRegressor)

RandomForestRegressor

MAE: 30.973759004001778
MSE: 1827.9204014584259
RMSE: 42.75418577704908
R2: 0.5385859027219901

RandomForestRegressor

MAE: 11.327868492825802
MSE: 247.0431579686944
RMSE: 247.0431579686944
R2: 0.938044778536263