In [20]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
import numpy as np

In [21]:
df = pd.read_csv("NY_airbnb - NY_airbnb.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,74860,"Sunlit and Cozy Williamsburg/Greenpoint, Brooklyn",394752,Allison,Brooklyn,Greenpoint,40.72488,-73.95018,Private room,55,2,1,2011-03-28,0.01,1,0
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,40039,Luxurious Condo in DUBMO with View,171851,Henry,Brooklyn,DUMBO,40.70207,-73.98571,Private room,250,3,14,2011-04-25,0.13,1,189
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [22]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [23]:
df.drop(["id","name" , "host_id", "host_name", "latitude", "longitude", "minimum_nights", "number_of_reviews", "last_review", "reviews_per_month", "calculated_host_listings_count"], axis=1, inplace=True)

In [24]:
df.head()

  neighbourhood_group neighbourhood        room_type  price  availability_365
0            Brooklyn    Greenpoint     Private room     55                 0
1           Manhattan       Midtown  Entire home/apt    225               355
2           Manhattan        Harlem     Private room    150               365
3            Brooklyn         DUMBO     Private room    250               189
4           Manhattan   East Harlem  Entire home/apt     80                 0

In [26]:
X = df.drop("price", axis=1)
y = df["price"]

In [27]:
X.head()

  neighbourhood_group neighbourhood        room_type  availability_365
0            Brooklyn    Greenpoint     Private room                 0
1           Manhattan       Midtown  Entire home/apt               355
2           Manhattan        Harlem     Private room               365
3            Brooklyn         DUMBO     Private room               189
4           Manhattan   East Harlem  Entire home/apt                 0

In [28]:
y.head()

0     55
1    225
2    150
3    250
4     80
Name: price, dtype: int64

In [29]:
categoricas = ["neighbourhood_group", "neighbourhood","room_type"] 
numericas = ["availability_365"]

In [30]:
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

transformer_numerico = ("transformer_numerico", MinMaxScaler(), numericas)
transformer_categorico = ("transformer_categorico", OneHotEncoder(), categoricas)

transformer = ColumnTransformer([transformer_numerico, transformer_categorico], remainder="passthrough")

In [31]:
X = transformer.fit_transform(X).toarray()

In [32]:
pd.DataFrame(X, columns = transformer.get_feature_names_out())

,transformer_numerico__availability_365,transformer_categorico__neighbourhood_group_Bronx,transformer_categorico__neighbourhood_group_Brooklyn,transformer_categorico__neighbourhood_group_Manhattan,transformer_categorico__neighbourhood_group_Queens,transformer_categorico__neighbourhood_group_Staten Island,transformer_categorico__neighbourhood_Allerton,transformer_categorico__neighbourhood_Arden Heights,transformer_categorico__neighbourhood_Arrochar,transformer_categorico__neighbourhood_Arverne,...,transformer_categorico__neighbourhood_Williamsburg,transformer_categorico__neighbourhood_Willowbrook,transformer_categorico__neighbourhood_Windsor Terrace,transformer_categorico__neighbourhood_Woodhaven,transformer_categorico__neighbourhood_Woodlawn,transformer_categorico__neighbourhood_Woodrow,transformer_categorico__neighbourhood_Woodside,transformer_categorico__room_type_Entire home/apt,transformer_categorico__room_type_Private room,transformer_categorico__room_type_Shared room
0,0.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.972603,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1.000000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.517808,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.000000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,0.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
48891,0.997260,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
48892,0.490411,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
48893,0.997260,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
48894,0.400000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0